<ion-searchbar
  [(ngModel)]="searchTerm"
  (ionChange)="onSearchChange($event)"
  placeholder="Search Pokémon"
></ion-searchbar>

<ion-list>
  <ion-item
    *ngFor="let pokemon of filteredPokemons"
    (click)="onSelectPokemon(pokemon)"
  >
    <ion-avatar slot="start">
      <ion-img [src]="pokemon.image"></ion-img>
    </ion-avatar>
    <ion-label>
      <h2>{{ pokemon.name | titlecase }}</h2>
      <p>#{{ pokemon.id }}</p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-infinite-scroll
  threshold="100px"
  (ionInfinite)="loadMorePokemons($event)"
>
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more Pokémons..."
  >
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
