<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Poplin Pokédex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button [routerLink]="['/pokemon-list']">
            <ion-img  src="../../assets/icon/logo.png"></ion-img>
            Explore the Pokémon World</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
